ENVIRONMENT=

LLM_PROVIDER=bedrock

# bedrock
BEDROCK_MODEL_ID=
AWS_DEFAULT_REGION=us-west-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

# ollama / openai
OPENAI_BASE_URL=
OPENAI_API_KEY=ollama
OPENAI_MODEL=
